/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
.tm-footer-wrapper{
  background: @medium-grey;
  .uk-panel-box{
    background: @medium-grey;
  }
  p{
    font-weight: 300;

  }
  .uk-panel-title{
    font-size:46px;
    text-align: center;
    text-transform: uppercase;
  }
}
.tm-footer{
  border-top:none;
  color:@white;
  font-size:17px;
}
.tm-fat-footer{
  //background: @bg-grey;
}