/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.tm-header {
  padding: @global-margin;
  background: @white;
  &.uk-active {
    background: @white;
    .tm-site-branding a {
      color: @global-color;
    }
  }
}

.tm-sub-header {
  background: @medium-grey;
  @media (max-width: @breakpoint-medium-max) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media (min-width: @breakpoint-large) {
    height: 82px;
  }
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.26);
  .phone {
    @media (min-width: @breakpoint-small) {
      font-size: 25px;
    }
    font-size: 15px;
    text-transform: uppercase;
    @media (min-width: @breakpoint-large) {
      line-height: 82px;
    }
    img {
      margin: -5px 10px 0 15px;
    }
  }
  a {
    color: @dark-grey;
  }
}

.tm-hero-area {
  min-height: 248px;
  .home & {
    min-height: 426px;
  }
  padding-top: 150px;
  padding-bottom: 90px;
  .tm-hero-content.uk-container.uk-container-center {
    @media (min-width: @breakpoint-medium) {
      padding-left: 150px;
    }

  }
}

.tm-hero-heading {
  text-transform: uppercase;
  color: @dark-grey;
}
h1.tm-hero-heading.uk-heading-large{
  @media (max-width: @breakpoint-mini-max) {
    font-size: 45px;
    line-height: 60px;
  }
}

.tm-hero-excerpt {
  color: @light-grey;
  @media (min-width: @breakpoint-medium) {
    width: 580px;
  }

}

.phone.right {
  @media (min-width: 940px) {
    float: right;
  }
}

.phone.left {
  @media (min-width: 940px) {
    float: left;
  }
}