/*--------------------------------------------------------------
Header nav
--------------------------------------------------------------*/
.tm-header{
  .uk-navbar-nav > li > a{
    color: @global-color;
    font-weight: 400;
    padding: 0 8px;
    @media (min-width: @breakpoint-large){
      font-size:17px;
      padding: 0 15px;
    }
    font-size:14px;
    text-transform: uppercase;
    &:hover{
      color:@primary-color;
    }

  }
  &.uk-active {
    .uk-navbar-nav > li > a {
      color: @global-color;
      font-weight: 300;
      &:hover{
        color: @primary-color;
      }
    }
  }
  .uk-icon-navicon{
    color:@dark-grey;
    font-size: 40px;
    margin-top: 5px;
  }
}

.tm-primary-menu{
  margin-top: 15px;
}
.uk-nav-offcanvas > .uk-open > a, html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover, html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus{
  background: lighten(@primary-color,3%);
}
.uk-nav-offcanvas > li > a, .uk-nav-offcanvas ul a{
  text-transform: uppercase;
}