//Home page
.tm-services{
  background: @primary-color;
  .more-link{
    font-size:29px;
    color: @light-grey;
    margin: 20px auto 0;
    display: block;
  }
}
.services-title{
  color:@light-grey;
  font-size:50px;
  text-transform: uppercase;
  border-bottom:1px solid @light-grey;
  padding-bottom: 20px;
  margin-bottom: 50px;
  @media (min-width: @breakpoint-medium){
    width: 670px;
    margin: 0 auto 50px;
  }
}
.service-name{
 font-size:33px;
  color:@light-grey;
  text-transform: uppercase;
}
.service-icon{
  height:111px;
  width: 111px;
  margin-bottom: 20px;
  img{
    margin: 0 auto;
    display: block;
  }
}
.testimonials-text{
  padding-top:60px;
  padding-bottom: 50px;

  .tm-widget{
    margin-bottom: 0;
  }

  .section-title{
    margin: 0 90px 0 auto;
  }
  .tm-widget, .section-title{
    @media (min-width: @breakpoint-large){
      max-width:500px;
    }
  }
  .tm-widget{
    @media (min-width: @breakpoint-large){
      float: right;
      margin-right: 90px;
    }
  }

}
.testimonial-author{
  text-align: right;
}
.testimonials-image{
  @media (max-width: @breakpoint-medium){
    height: 520px;

  }
}

//Interior page
.tm-service-section{
  padding: 65px 0;
  background: @medium-grey;
  li{
    font-size: 29px;
    line-height: 49px;

  }
  .tm-features{
    @media (max-width: @breakpoint-medium){
      margin-top: 60px;
    }
    .more-link{
      color:@dark-grey;
      text-transform: uppercase;
      margin-left: 100px;
      font-size:33px;
    }
  }
  .section-title{
    margin-bottom: 60px;
  }
  &.dark{
    background: @dark-grey;
    color: @light-grey;

    .section-title, .more-link{
      color: @light-grey;
    }
  }
  &.benefit{
    p,.section-title{
      color: @light-grey;
    }
  }
}
//PARTNERS
.tm-partners-grid{
  margin-top: 60px;
  margin-bottom:60px;
}
.partner-logo{
  border-bottom:1px solid @dark-grey;
  border-right: 1px solid @dark-grey;
  padding: 40px;
  @media (min-width: @breakpoint-medium){
    padding: 40px 80px;
  }
  &:nth-child(2n){
    @media (max-width: @breakpoint-small-max){
      border-right:none;
    }

  }
  &:nth-child(3n){
    @media (min-width: @breakpoint-medium){
      border-right:none;
    }
  }
  &:nth-last-child(-n+3){
    @media (min-width: @breakpoint-medium){
      border-bottom: none;
    }
  }
  &:nth-last-child(-n+2){
    @media (max-width: @breakpoint-small-max){
      border-bottom: none;
    }
  }
  img{
    margin: 0 auto;
    display: block;
  }
}