/*--------------------------------------------------------------
TYPOGRAPHY
--------------------------------------------------------------*/
.section-title{
  font-size:46px;
  text-transform: uppercase;
  color: @dark-grey;
}